.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
/.Rhistory
/.Rproj.user/EAF5C4C0/compilation-database/mingw64/c-definitions.h
/.Rproj.user/EAF5C4C0/compilation-database/mingw64/config.json
/.Rproj.user/EAF5C4C0/compilation-database/mingw64/cpp-definitions.h
/.Rproj.user/EAF5C4C0/cpp-compilation-config
/.Rproj.user/EAF5C4C0/cpp-definition-cache
/.Rproj.user/EAF5C4C0/pcs/debug-breakpoints.pper
/.Rproj.user/EAF5C4C0/pcs/files-pane.pper
/.Rproj.user/EAF5C4C0/pcs/packages-pane.pper
/.Rproj.user/EAF5C4C0/pcs/source-pane.pper
/.Rproj.user/EAF5C4C0/pcs/windowlayoutstate.pper
/.Rproj.user/EAF5C4C0/pcs/workbench-pane.pper
/.Rproj.user/EAF5C4C0/persistent-state
/.Rproj.user/EAF5C4C0/rmd-outputs
/.Rproj.user/EAF5C4C0/saved_source_markers
/.Rproj.user/EAF5C4C0/sources/per/t/07952D6F
/.Rproj.user/EAF5C4C0/sources/per/t/07952D6F-contents
/.Rproj.user/EAF5C4C0/sources/per/t/50BC2F59
/.Rproj.user/EAF5C4C0/sources/per/t/50BC2F59-contents
/.Rproj.user/EAF5C4C0/sources/per/t/50C1BB0D
/.Rproj.user/EAF5C4C0/sources/per/t/50C1BB0D-contents
/.Rproj.user/EAF5C4C0/sources/per/t/90819AF0
/.Rproj.user/EAF5C4C0/sources/per/t/90819AF0-contents
/.Rproj.user/EAF5C4C0/sources/per/t/A308A453
/.Rproj.user/EAF5C4C0/sources/per/t/A308A453-contents
/.Rproj.user/EAF5C4C0/sources/per/t/DC7965F9
/.Rproj.user/EAF5C4C0/sources/per/t/DC7965F9-contents
/.Rproj.user/EAF5C4C0/sources/prop/191EE1B8
/.Rproj.user/EAF5C4C0/sources/prop/22EAA5A4
/.Rproj.user/EAF5C4C0/sources/prop/2D28795D
/.Rproj.user/EAF5C4C0/sources/prop/2E53BC68
/.Rproj.user/EAF5C4C0/sources/prop/2EA0AC53
/.Rproj.user/EAF5C4C0/sources/prop/3229576A
/.Rproj.user/EAF5C4C0/sources/prop/336CEC9E
/.Rproj.user/EAF5C4C0/sources/prop/3C210B08
/.Rproj.user/EAF5C4C0/sources/prop/49A7C73D
/.Rproj.user/EAF5C4C0/sources/prop/4DC5E181
/.Rproj.user/EAF5C4C0/sources/prop/4DCBBD58
/.Rproj.user/EAF5C4C0/sources/prop/609141B3
/.Rproj.user/EAF5C4C0/sources/prop/649F36FE
/.Rproj.user/EAF5C4C0/sources/prop/708968E2
/.Rproj.user/EAF5C4C0/sources/prop/73984551
/.Rproj.user/EAF5C4C0/sources/prop/7ABEE0FD
/.Rproj.user/EAF5C4C0/sources/prop/84F8D01E
/.Rproj.user/EAF5C4C0/sources/prop/8DBD6EEE
/.Rproj.user/EAF5C4C0/sources/prop/91F74A51
/.Rproj.user/EAF5C4C0/sources/prop/9A6A868F
/.Rproj.user/EAF5C4C0/sources/prop/A00BD4B5
/.Rproj.user/EAF5C4C0/sources/prop/B3E880D7
/.Rproj.user/EAF5C4C0/sources/prop/B88E2E06
/.Rproj.user/EAF5C4C0/sources/prop/BBA8E99A
/.Rproj.user/EAF5C4C0/sources/prop/C4619D25
/.Rproj.user/EAF5C4C0/sources/prop/C671F6C6
/.Rproj.user/EAF5C4C0/sources/prop/CE847E05
/.Rproj.user/EAF5C4C0/sources/prop/D5B52E4A
/.Rproj.user/EAF5C4C0/sources/prop/E3D0ED8E
/.Rproj.user/EAF5C4C0/sources/prop/E88E668E
/.Rproj.user/EAF5C4C0/sources/prop/ECFA73FE
/.Rproj.user/EAF5C4C0/sources/prop/INDEX
/.Rproj.user/shared/notebooks/patch-chunk-names
/.Rproj.user/shared/notebooks/paths
/R/.Rhistory
/inst/extdata/ClassifiedMap_Small.jpg
