useDynLib(DataVisualizations, .registration=TRUE)

export(ClassBoxplot)
export(ClassPDEplot)
export(ClassMDplot)
export(ClassPDEplotMaxLikeli)
export(Crosstable)
export(Choroplethmap)
export(DualaxisLinechart)
export(Fanplot)
export(GoogleMapsCoordinates)
export(Heatmap)
export(InspectDistances)
export(InspectBoxplots)
export(InspectVariable)
export(InspectScatterplots)
export(InspectStandardization)
export(MAplot)
export(MDplot)
export(Pixelmatrix)
export(Piechart)
export(PDEplot)
export(PDEscatter)
export(Plot3D)
export(PlotProductratio)
export(PlotMissingvalues)
export(QQplot)
export(Slopechart)
export(Sheparddiagram)
export(ShepardPDEscatter)
export(Silhouetteplot)
export(zplot)
export(stat_pde_density)
export(StatPDEdensity)
export(SignedLog)
export(Worldmap)

import(Rcpp)
import(ggplot2)
	
import(AdaptGauss)
  importFrom("graphics", "hist", "title")
  importFrom("stats", "dist", "runif")
  importFrom("graphics", "filled.contour")
  importFrom("stats", "median", "quantile")
    importFrom("graphics", "axis", "barplot", "box", "boxplot", "grid",
             "mtext", "par", "plot")
  importFrom("stats", "qqnorm")
  importFrom("graphics", "rect")
   importFrom("utils", "data")
    importFrom("stats", "end")
     importFrom("graphics", "lines", "text")
  importFrom("stats", "density")
     importFrom("stats", "lm", "qnorm")
  importFrom("graphics", "pairs", "plot.new", "polygon")
  importFrom("stats", "complete.cases", "na.omit")
importFrom("utils", "head", "tail")
   importFrom("graphics", "pie")
   importFrom('sp','SpatialPolygons')
   importClassesFrom(sp, SpatialPolygons)
   importMethodsFrom(sp, plot)
importFrom("stats", "cor")
     importFrom("graphics", "legend")
  importFrom("stats", "dnorm", "sd")
   importFrom("graphics", "abline")
  importFrom("stats", "anova", "qqplot", "residuals.lm")
importFrom("graphics", "image", "layout")
  importFrom("graphics", "points")
  importFrom("stats", "pnorm", "rnorm")