useDynLib(DataVisualizations, .registration=TRUE)
export(ABCbarplot)
export(BimodalityAmplitude)
export(CCDFplot)
export(ClassBoxplot)
export(ClassPDEplot)
export(ClassMDplot)
export(ClassErrorbar)
export(Classplot)
export(ClassPDEplotMaxLikeli)
export(Crosstable)
export(Choroplethmap)
export(CombineCols)
export(DensityScatter)
export(DensityContour)
export(DiagnosticAbility4Classifiers)
export(DualaxisLinechart)
export(DualaxisClassplot)
export(Fanplot)
export(GoogleMapsCoordinates)
export(Heatmap)
export(InspectDistances)
export(InspectBoxplots)
export(InspectVariable)
export(InspectScatterplots)
export(InspectStandardization)
export(InspectCorrelation)
export(JitterUniqueValues)
export(multiplot)
export(MAplot)
export(MDplot)
export(MDplot4multiplevectors)
export(OptimalNoBins)
export(Pixelmatrix)
export(ParetoDensityEstimation)
export(ParetoRadius)
export(Piechart)
export(PDEplot)
#export(PDEscatter)
export(Plot3D)
export(PlotGraph2D)
export(PlotProductratio)
export(PlotMissingvalues)
export(QQplot)
export(ROC)
export(Slopechart)
export(Sheparddiagram)
export(ShepardDensityScatter)
export(Silhouetteplot)
export(zplot)
export(stat_pde_density)
export(StatPDEdensity)
export(SignedLog)
#export(SmoothedDensitiesXY)
export(RobustNormalization)
export(RobustNorm_BackTrafo)
export(Worldmap)

import(ggplot2)
import(Rcpp)

importFrom("graphics", "hist", "title", "filled.contour", "axis", "barplot", "box", "boxplot", "grid",
           "mtext", "par", "plot", "rect", "lines", "text", "pairs", "plot.new", "polygon", "pie",
           "legend", "abline", "image", "layout", "points", "segments")
importFrom("grDevices", "rgb", "colorRampPalette","rainbow")
importFrom("sp", "SpatialPolygons", "plot")
importFrom("stats", "ecdf", "dist", "runif", "median", "quantile", "qqnorm", "end", "density", "lm",
           "qnorm", "complete.cases", "na.omit", "cor", "dnorm", "sd", "anova", "qqplot", "residuals.lm",
           "pnorm", "rnorm","ks.test", "qt")
importFrom("utils", "data", "head", "tail")




