useDynLib(DataVisualizations, .registration=TRUE)

export(BoxplotData)
export(PDEviolinplotData)
export(ClassBoxPlot)
export(ClassPDEplot)
export(ClassViolinPlot)
export(BoxplotData)
export(ClassPDEplotMaxLikeli)
export(fanPlot)
export(GoogleMapsCoordinates)
export(Heatmap)
export(InspectDistances)
export(InspectVariable)
export(InspectScatterOfData)
export(MAplot)
export(nanPlot)
export(pieChart)
export(PDEplot)
export(PDEscatter)
export(PixelMatrixPlot)
export(qqfitTransData)
export(PlotPixMatrix)
#export(violinPlot)
export(slopeChart)
export(ShepardScatterPlot)
export(ShepardDensityPlot)
export(SilhouettePlot)
export(zplot)
export(plot3D)
export(plotChoroplethMap)
export(plotWorldmap)
export(stat_pde_density)
export(StatPDEdensity)

import(Rcpp)
import(ggplot2)
import(magrittr)
import(AdaptGauss)
  importFrom("graphics", "hist", "title")
  importFrom("stats", "dist", "runif")
  importFrom("graphics", "filled.contour")
  importFrom("stats", "median", "quantile")
    importFrom("graphics", "axis", "barplot", "box", "boxplot", "grid",
             "mtext", "par", "plot")
  importFrom("stats", "qqnorm")
  importFrom("graphics", "rect")
   importFrom("utils", "data")
    importFrom("stats", "end")
     importFrom("graphics", "lines", "text")
  importFrom("stats", "density")
     importFrom("stats", "lm", "qnorm")
  importFrom("graphics", "pairs", "plot.new", "polygon")
  importFrom("stats", "complete.cases", "na.omit")
importFrom("utils", "head", "tail")
   importFrom("graphics", "pie")
   importFrom('sp','SpatialPolygons')
   
     importFrom("graphics", "legend")
  importFrom("stats", "dnorm", "sd")
 